{namespace t=IMIA\ImiaT3um\ViewHelpers}

<f:be.container
    pageTitle="IMIA T3UM"
    enableClickMenu="false"
    loadExtJs="false"
    loadExtJsTheme="false"
    loadJQuery="true"
    includeCssFiles="{0: '{f:uri.resource(path:\'Stylesheets/backend.css\')}'}"
    includeJsFiles="{0: '{f:uri.resource(path:\'Javascripts/backend.js\')}'}">
    <div class="typo3-fullDoc">
        <div id="typo3-docheader">
            <div class="typo3-docheader-functions">
                <div class="left">
                    <f:be.buttons.csh />
                    <f:render section="functions" />
                </div>
                <div class="right">
                    
                </div>
            </div>
            <div class="typo3-docheader-buttons">
                <div class="left">
                    <f:render section="buttons" />
                </div>
                <div class="right">
                    <div class="buttongroup">
                        <f:be.buttons.shortcut />
                    </div>
                </div>
            </div>
        </div>

        <div id="typo3-docbody">
            <div id="typo3-inner-docbody">
                <h1 class="logo">TYPO3 Update Manager</h1>

                <f:render section="content" />
            </div>
        </div>
    </div>
</f:be.container>