a.button {
    background-color:#e0e0e0;
    border:1px solid #7c7c7c;    
    border-radius: 2px;
    -moz-border-radius:2px;
    color:#434343;
    display: inline-block;
    margin: 0 0.5em 0.5em 0;
    padding: 3px 6px;
    text-decoration: none !important;
}
a.button:hover{
    background-color:#cccccc;
    border:1px solid #737f91;
    color:#1e1e1e;
}

h1.logo {
    width: 280px;
    height: 31px;
    background: transparent url('../Images/logo.png') no-repeat 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-indent: 200%;
}

input {
    width: 100%;
    box-sizing: border-box;
}

form:not(.wide),
.typo3-message {
    max-width: 850px;
    display: block !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

form > button {
    float: right;
    margin: 0;
}
.t3-form-palette-field-container {
    display: block;
    padding-right: 0;
}
.t3-form-field-item {
    padding-right: 10px;
}
.t3-form-palette-field-label > small {
    float: right;
    padding-right: 10px;
    padding-top: 10px;
}

input:disabled {
    background-color: transparent;
}

.message-body button,
.message-body a.button {
    position: relative;
    top: 10px;
}
td .icon {
    position: relative;
    top: -2px;
}

.typo3-inner-docbody:after,
form:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

.ext-icon {
    max-width: 18px;
    max-height: 18px;
}

.text-ok {
    color: #3b7826
}
.text-warning {
    color: #9e7d4a;
}
.text-error {
    color: #aa0225;
}

td.typo3-message {
    margin: 0 !important;
    border: 0 !important;
    display: table-cell !important;
    padding-left: 36px !important;
    background-position: 10px 6px !important;
}
td.message-error {
    background-color: #f6d3cf !important;
}
tr:hover td.message-error {
    background-color: #edcbc7 !important;
}
td.message-warning {
    background-color: #fbf6de !important;
}
tr:hover td.message-warning {
    background-color: #f3eed7 !important;
}
td.message-ok {
    background-color: #cdeaca !important;
}
tr:hover td.message-ok {
    background-color: #bcd9b9 !important;
}
td.message-information {
    background-color: #eaf7ff !important;
}
tr:hover td.message-information {
    background-color: #dfecf4 !important;
}
tr td.message-notice {
    background-color: #FDDFC0 !important;
}
tr:hover td.message-notice {
    background-color: #f4d8ba !important;
}
td input[type="checkbox"] {
    margin-bottom: 2px !important;
}