{namespace t=IMIA\ImiaT3um\ViewHelpers}

<f:layout name="Backend" />

<f:section name="functions">
</f:section>

<f:section name="buttons">
    <f:link.action action="index">
        <span style="margin-right: 0" class="t3-icon t3-icon-actions t3-icon-actions-view t3-icon-view-go-back" title="Zurück">&nbsp;</span>
    </f:link.action>
</f:section>

<f:section name="content">
    <div class="info-block">
        <h2>Deployment</h2>

        <f:form action="deploy" class="wide">
            <table class="t3-table">
                <thead>
                    <tr>
                        <td width="18">
                        </td>
                        <td width="18">
                        </td>
                        <td>System</td>
                        <td width="160">Lokal</td>
                        <td width="160">Stable (LTS)</td>
                        <f:for each="{instances}" as="instance">
                            <td width="160">{instance.canonicalDomain}</td>
                        </f:for>
                        <td width="18">&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="18">
                        </td>
                        <td>

                        </td>
                        <td>TYPO3 CMS</td>
                        <td>
                            <f:switch expression="{system.version -> t:version.compare(version: system.lts)}">
                                <f:case value="<">
                                    <t:variable.set name="versionClass">warning</t:variable.set>
                                </f:case>
                                <f:case default="true">
                                    <t:variable.set name="versionClass">ok</t:variable.set>
                                </f:case>
                            </f:switch>
                            <strong class="text-{versionClass}">
                                {system.version}
                            </strong>
                        </td>
                        <td>
                            {system.lts}
                        </td>
                        <f:for each="{instances}" as="instance">
                            <td>
                                <f:switch expression="{instance.typo3Version -> t:version.compare(version: system.lts)}">
                                    <f:case value="<">
                                        <t:variable.set name="versionClass">warning</t:variable.set>
                                    </f:case>
                                    <f:case default="true">
                                        <t:variable.set name="versionClass">ok</t:variable.set>
                                    </f:case>
                                </f:switch>
                                <strong class="text-{versionClass}">
                                    {instance.typo3Version}
                                </strong>
                            </td>
                        </f:for>
                        <td width="18">&nbsp;</td>
                    </tr>
                </tbody>
            </table>

            <table class="t3-table">
                <thead>
                    <tr>
                        <td width="18">
                            <a href="#" title="Alle auswählen/abwählen" class="icon checkall">
                                <span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-select">&nbsp;</span>
                            </a>
                        </td>
                        <td width="18">&nbsp;</td>
                        <td>Extension</td>
                        <td width="160">Lokal</td>
                        <td width="160">TER</td>
                        <f:for each="{instances}" as="instance">
                            <td width="160">{instance.canonicalDomain}</td>
                        </f:for>
                        <td width="18">&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{extensions}" as="extension">
                        <tr>
                            <td width="18">
                                <f:form.checkbox name="extensions[]" value="{extension.key}" />
                            </td>
                            <td>
                                <img src="data:image/gif;base64,{extension.icon}" alt="{extension.title}" class="ext-icon" />
                            </td>
                            <td>{extension.title}</td>
                            <f:if condition="{extension.ter}">
                                <f:then>
                                    <f:switch expression="{extension.version -> t:version.compare(version: extension.ter.version)}">
                                        <f:case value="<">
                                            <td class="typo3-message message-warning">
                                                    <strong class="message-body">
                                                        {extension.version}
                                                    </strong>
                                                </div>
                                            </td>
                                        </f:case>
                                        <f:case value=">">
                                            <td class="typo3-message message-information">
                                                <strong class="message-body">
                                                    {extension.version}<br>
                                                    <small><strong><f:link.action action="uploadToTer">Ins TER hochladen</f:link.action></strong></small>
                                                </strong>
                                                </div>
                                            </td>
                                        </f:case>
                                        <f:case default="true">
                                            <f:if condition="{extension.checksum} == {extension.ter.checksum}">
                                                <f:then>
                                                    <td class="text-ok">
                                                        {extension.version}
                                                    </td>
                                                </f:then>
                                                <f:else>
                                                    <td class="typo3-message message-error">
                                                        <span class="message-body">
                                                            {extension.version}<br>
                                                            <small><strong><f:link.action action="extensionMissmatch" arguments="{returnUrl: '{f:uri.action(action: \'deploy\' arguments: \'{instances: instanceIds}\')}', extension: extension.key}">Unterschiede zum TER</f:link.action></strong></small>
                                                        </span>
                                                    </td>
                                                </f:else>
                                            </f:if>
                                        </f:case>
                                    </f:switch>
                                </f:then>
                                <f:else>
                                    <td>
                                        {extension.version}
                                    </td>
                                </f:else>
                            </f:if>
                            <td>
                                <f:if condition="{extension.ter}">
                                    <f:then>
                                        {extension.ter.version}
                                    </f:then>
                                    <f:else>
                                        -
                                    </f:else>
                                </f:if>
                            </td>
                            <t:variable.set name="compareExtension">{extension}</t:variable.set>
                            <f:if condition="{extension.ter}">
                                <t:variable.set name="compareExtension">{extension.ter}</t:variable.set>
                            </f:if>
                            <f:for each="{instances}" as="instance">
                                <t:variable.set name="extensionInstance"><t:variable.get name="extension.instance_{instance.id}" useRawKeys="true" /></t:variable.set>
                                <f:if condition="{extensionInstance}">
                                    <f:then>
                                        <f:switch expression="{extensionInstance.version -> t:version.compare(version: compareExtension.version)}">
                                            <f:case value="<">
                                                <td class="typo3-message message-warning">
                                                    <strong class="message-body">
                                                        {extensionInstance.version}
                                                    </strong>
                                                </td>
                                            </f:case>
                                            <f:case default="true">
                                                <f:if condition="{extensionInstance.checksum} == {compareExtension.checksum}">
                                                    <f:then>
                                                        <td class="text-ok">
                                                            {extensionInstance.version}
                                                        </td>
                                                    </f:then>
                                                    <f:else>
                                                        <td class="typo3-message message-{f:if(condition: '{extension.ter}', then:'error', else:'notice')}">
                                                            <span class="message-body">
                                                                {extensionInstance.version}<br>
                                                                <small><strong><f:link.action action="extensionMissmatch" arguments="{returnUrl: '{f:uri.action(action: \'deploy\' arguments: \'{instances: instanceIds}\')}', extension: extension.key, instance: instance.id}">Unterschiede <f:if condition="{extension.ter}"><f:then>zum TER</f:then><f:else>zu lokal</f:else></f:if></f:link.action></strong></small>
                                                            </span>
                                                        </td>
                                                    </f:else>
                                                </f:if>
                                            </f:case>
                                        </f:switch>
                                    </f:then>
                                    <f:else>
                                        <td class="typo3-message message-error">
                                            <strong class="message-body">
                                                -
                                            </strong>
                                        </td>
                                    </f:else>
                                </f:if>
                            </f:for>
                            <td width="18">&nbsp;</td>
                        </tr>
                    </f:for>
                </tbody>
            </table>
            <button type="submit">
                <span class="t3-icon t3-icon-extensions t3-icon-extensions-scheduler t3-icon-scheduler-run-task">&nbsp;</span>
                Ausgewählte Extensions hochladen
            </button>
        </f:form>
    </div>
</f:section>