{namespace t=IMIA\ImiaT3um\ViewHelpers}

<f:layout name="Backend" />

<f:section name="functions">
</f:section>

<f:section name="buttons">
    <a href="{returnUrl}">
        <span style="margin-right: 0" class="t3-icon t3-icon-actions t3-icon-actions-view t3-icon-view-go-back" title="Zurück">&nbsp;</span>
    </a>
</f:section>

<f:section name="content">
    <div class="info-block">
        <h2>Extension: {extension.title}<f:if condition="{instance}"> (Instanz: {instance.canonicalDomain})</f:if></h2>
        <h4>Unterschiede zur <f:if condition="{compareType} == 'ter'"><f:then>TER</f:then><f:else>lokalen</f:else></f:if> Version</h4>

        <table class="t3-table">
            <thead>
                <tr>
                    <td width="75">Status</td>
                    <td>Datei</td>
                </tr>
            </thead>
            <tbody>
                <f:for each="{newFiles}" as="newFile">
                    <tr>
                        <td>
                            <span class="text-ok">Hinzugefügt</span>
                        </td>
                        <td>
                            {newFile}
                        </td>
                    </tr>
                </f:for>
                <f:for each="{changedFiles}" as="changedFile">
                    <tr>
                        <td>
                            <span class="text-warning">Verändert</span>
                        </td>
                        <td>
                            {changedFile}
                        </td>
                    </tr>
                </f:for>
                <f:for each="{missingFiles}" as="missingFile">
                    <tr>
                        <td>
                            <span class="text-error">Entfernt</span>
                        </td>
                        <td>
                            {missingFile}
                        </td>
                    </tr>
                </f:for>
            </tbody>
        </table>
    </div>
</f:section>