{namespace t=IMIA\ImiaT3um\ViewHelpers}

<f:layout name="Backend" />

<f:section name="functions">
</f:section>

<f:section name="buttons">
</f:section>

<f:section name="content">
    <p class="lead">
        Hier können Sie den Status der Verbindung mit dem TYPO3 Update Manager einsehen und das Projekt registrieren.<br>
        Nach erfolgreicher Registrierung können Sie von der Entwicklungsumgebung auf das Live-System deployen.
    </p>
    
    <div class="info-block">
        <h2>Status</h2>

        <f:if condition="{extConf.registered}">
            <f:then>
                <div class="typo3-message message-ok">
                    <div class="message-body">
                        Das Projekt ist beim TYPO3 Update Manager registriert.
                    </div>
                </div>
                <f:if condition="{extConf.connected}">
                    <f:then>
                        <div class="typo3-message message-information">
                            <div class="message-body">
                                Die Verbindung zum TYPO3 Update Manager wurde verifiziert.
                            </div>
                        </div>

                        <h2>Deployment</h2>
                        <f:if condition="{instances -> f:count()} > 0">
                            <f:then>
                                <f:form action="deploy">
                                    <table class="t3-table">
                                        <thead>
                                            <tr>
                                                <td width="18">
                                                    <a href="#" title="Alle auswählen/abwählen" class="icon checkall">
                                                        <span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-select">&nbsp;</span>
                                                    </a>
                                                </td>
                                                <td width="18">&nbsp;</td>
                                                <td>Domain</td>
                                                <td width="150">Letzte Überprüfung</td>
                                                <td width="18">&nbsp;</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <f:for each="{instances}" as="instance">
                                                <tr class="db_list_normal">
                                                    <td>
                                                        <f:form.checkbox name="instances[]" value="{instance.id}" disabled="{f:if(condition: '{instance.healthCheckApi} == \'ok\'', else: 'disabled')}" />
                                                    </td>
                                                    <td>
                                                        <f:if condition="{instance.healthCheckApi} == 'ok'">
                                                            <f:then>
                                                                <f:if condition="{instance.deployment}">
                                                                    <f:then>
                                                                        <img src="sysext/scheduler/res/gfx/status_running.png" alt="API erreichbar. Deployment möglich!" title="API erreichbar. Deployment möglich!">
                                                                    </f:then>
                                                                    <f:else>
                                                                        <img src="sysext/scheduler/res/gfx/status_disabled.png" alt="API erreichbar. Deployment nicht möglich!" title="API erreichbar. Deployment nicht möglich!">
                                                                    </f:else>
                                                                </f:if>
                                                            </f:then>
                                                            <f:else>
                                                                <img src="sysext/scheduler/res/gfx/status_failure.png" alt="API nicht erreichbar" title="API nicht erreichbar">
                                                            </f:else>
                                                        </f:if>
                                                    </td>
                                                    <td>
                                                        {instance.canonicalDomain}
                                                    </td>
                                                    <td>
                                                        {instance.healthCheck -> f:format.date(format:'d.m.Y H:i')}
                                                    </td>
                                                    <td>
                                                        <f:if condition="{instance.healthCheckApi} == 'ok'">
                                                            <f:if condition="{instance.deployment}">
                                                                <f:link.action action="deploy" arguments="{instances: {0: instance.id}}" class="icon" title="Deployment starten">
                                                                    <span class="t3-icon t3-icon-extensions t3-icon-extensions-scheduler t3-icon-scheduler-run-task">&nbsp;</span>
                                                                </f:link.action>
                                                            </f:if>
                                                        </f:if>
                                                    </td>
                                                </tr>
                                            </f:for>
                                        </tbody>
                                    </table>
                                    <button type="submit">
                                        <span class="t3-icon t3-icon-extensions t3-icon-extensions-scheduler t3-icon-scheduler-run-task">&nbsp;</span>
                                        Deployment auf die ausgewählten Instanzen starten
                                    </button>
                                </f:form>
                            </f:then>
                            <f:else>
                                <div class="typo3-message message-notice">
                                    <div class="message-body">
                                        Es ist kein Produktiv-Instanz verfügbar.
                                    </div>
                                </div>
                            </f:else>
                        </f:if>
                    </f:then>
                    <f:else>
                        <div class="typo3-message message-warning">
                            <div class="message-body">
                                Die Verbindung zum TYPO3 Update Manager konnte nicht verifiziert werden.<br>
                                <f:link.action action="register" class="button">Projekt <span style="color:red">neu</span> registrieren</f:link.action>
                            </div>
                        </div>
                    </f:else>
                </f:if>
            </f:then>
            <f:else>
                <div class="typo3-message message-information">
                    <div class="message-body">
                        Das Projekt ist <strong>noch nicht</strong> beim TYPO3 Update Manager registriert.<br>
                        <f:link.action action="register" class="button">Projekt registrieren</f:link.action>
                    </div>
                </div>
            </f:else>
        </f:if>

        <f:if condition="{missingHeaders}">
            <div class="typo3-message message-information">
                <div class="message-body">
                    In der PHP Version des Servers ist keine "apache_request_headers()"-Funktion verfügbar.<br>
                    Damit die API funktioniert, müssen folgende Rewrites (nach den TYPO3 Rewrites) in die .htaccess Datei eingefügt werden:<br>
                    <br>
                    <pre># t3um headers
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteRule .* - [E=CONTENT_MD5:%{HTTP:Content-MD5}]</pre>
                </div>
            </div>
        </f:if>
    </div>
</f:section>