{namespace t=IMIA\ImiaT3um\ViewHelpers}

<f:layout name="Backend" />

<f:section name="functions">
</f:section>

<f:section name="buttons">
    <f:link.action action="index">
        <span class="t3-icon t3-icon-actions t3-icon-actions-view t3-icon-view-go-back" title="Zurück">&nbsp;</span>
    </f:link.action>
</f:section>

<f:section name="content">
    <p class="lead">
        Hier können Sie das Projekt beim TYPO3 Update Manager registrieren.
    </p>
    
    <div class="info-block">
        <h2>Registrierung</h2>
        
        <f:if condition="{extConf.registered}">
            <div class="typo3-message message-warning" style="max-width: 750px">
                <div class="message-body">
                    Das Projekt wurde bereits registriert.<br>
                    Die Verbindung zum TYPO3 Update Manager konnte aber nicht verifiziert werden.<br>
                    Wirklich neu registrieren?
                </div>
            </div>
            <br>
        </f:if>

        <f:form class="clearfix" action="register">
            <f:flashMessages renderMode="div" />
            
            <div class="typo3-TCEforms">
                <div class="typo3-dyntabmenu-divs">
                    <div class="c-tablayer">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td colspan="2">

                                        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="wrapperTable">
                                            <tbody>
                                                <tr class="class-main2">
                                                    <td class="formField-header" colspan="2">
                                                        <span class="class-main4">
                                                            <label for="user">
                                                                <strong>TYPO3 Projekt</strong>
                                                            </label>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr class="class-main1">
                                                    <td valign="top" nowrap="nowrap" colspan="2">
                                                        <fieldset class="t3-form-palette-fieldset">
                                                            <span class="t3-form-palette-field-container">
                                                                <label class="t3-form-palette-field-label class-main3">
                                                                    <small>SYS['sitename']</small>Name
                                                                </label>
                                                                <span class="t3-form-palette-field class-main5">
                                                                    <div class="t3-form-field-item">
                                                                        <input type="text" value="{sys.sitename}" disabled="disabled" readonly="readonly" />
                                                                    </div>
                                                                </span>
                                                            </span>
                                                            <span class="t3-form-palette-field-container">
                                                                <label class="t3-form-palette-field-label class-main3">
                                                                    <small>SYS['encryptionKey']</small>Schlüssel
                                                                </label>
                                                                <span class="t3-form-palette-field class-main5">
                                                                    <div class="t3-form-field-item">
                                                                        <input type="text" value="{sys.encryptionKey}" disabled="disabled" readonly="readonly" />
                                                                    </div>
                                                                </span>
                                                            </span>
                                                        </fieldset>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="wrapperTable">
                                            <tbody>
                                                <tr class="class-main2">
                                                    <td class="formField-header" colspan="2">
                                                        <span class="class-main4">
                                                            <label class="t3-form-palette-field-label" for="serviceURL">
                                                                <strong>T3UM URL</strong>
                                                            </label>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr class="class-main1">
                                                    <td valign="top" class="formField-field" colspan="2">
                                                        <span class="t3-form-field-container">
                                                            <div class="t3-form-field-item">
                                                                <f:form.textfield name="serviceURL" id="serviceURL" value="{extConf.serviceURL}" type="url" />
                                                            </div>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="wrapperTable">
                                            <tbody>
                                                <tr class="class-main2">
                                                    <td class="formField-header" colspan="2">
                                                        <span class="class-main4">
                                                            <label for="user">
                                                                <strong>T3UM Login</strong>
                                                            </label>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr class="class-main1">
                                                    <td valign="top" nowrap="nowrap" colspan="2">
                                                        <fieldset class="t3-form-palette-fieldset">
                                                            <span class="t3-form-palette-field-container">
                                                                <label class="t3-form-palette-field-label class-main3">
                                                                    Benutzer
                                                                </label>
                                                                <span class="t3-form-palette-field class-main5">
                                                                    <div class="t3-form-field-item">
                                                                        <f:form.textfield name="user" id="user" value="" />
                                                                    </div>
                                                                </span>
                                                            </span>
                                                            <span class="t3-form-palette-field-container">
                                                                <label class="t3-form-palette-field-label class-main3">
                                                                    Passwort
                                                                </label>
                                                                <span class="t3-form-palette-field class-main5">
                                                                    <div class="t3-form-field-item">
                                                                        <f:form.textfield name="password" id="password" type="password" value="" />
                                                                    </div>
                                                                </span>
                                                            </span>
                                                        </fieldset>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <br>
            <f:link.action action="index" class="button">Abbrechen</f:link.action>
            <button type="submit">Projekt registrieren</button>
        </f:form>
    </div>
</f:section>